certifi
chardet
Click
cycler
dash
dash-auth
dash-core-components
dash-html-components
dash-renderer
decorator
Flask
Flask-Compress
Flask-SeaSurf
gunicorn
h5py
html5lib
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
MarkupSafe
matplotlib
nbformat
numpy
pandas
plotly
pyparsing
python-dateutil
pytz
PyYAML
requests
retrying
scikit-learn
scipy
seaborn
six
sklearn
traitlets
ua-parser
urllib3
webencodings
Werkzeug
